body{
      background-color: black;

}
.red {
  grid-area:row1-col-1;
  background-color: rgb(241, 87, 31);

}
.yellow {
  grid-area: row1-col-2;
  background-color: rgb(248, 168, 56);
  height: 230px;
  
}
.green{
  
  background-color: rgb(62, 193, 62);
   grid-area:row2-col-1;
   

  

  
}
.blue {
  background-color: rgb(79, 182, 246);
  height: 16.7vh;
   grid-area:row2-col-2;
}
.blue2 {
  /* display: grid; */
  background-color: rgb(79, 182, 246);
  height: 150px;
   grid-area:row2-col-3;
}
.grid {
  display: grid;
  grid-template-areas: 'row1-col-1 row1-col-1 row1-col-1 row1-col-1 row1-col-2 row1-col-2'
                       'row2-col-1 row2-col-1 row2-col-1 row2-col-2 row2-col-2 row2-col-2' 
                       'row2-col-1 row2-col-1 row2-col-1 row2-col-3 row2-col-3 row2-col-3';
  grid-gap: 15px;
  
  margin: 7vh 17vw 0vh 12vw;
  
}
